/*
{
	background-image: url("../img/symphony.png");
}*/
*
{
	background-image: url("../img/retina_wood.png");
}
#listTitle
{
	color: gray;
}
#add-form
{
	display: inline;
}
.done-false
{
	color: black;
}
.done-true
{
	color: grey;
	text-decoration: line-through;
}
.btn
{
	color: teal;
}
p
{
	font-size: 10pt;
}